html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer {
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50;
    right: 50;
    color: #321C06;
} */

nav a {
    text-decoration: none;
    color: beige;
}

h1 {
    font-size: 58;
    font-weight: lighter;
    color: beige;
}

nav a:hover {
    background-color: #6B1107;
    transform: scale(1.5,1);
}

header {
    background-color: #321C06
}

body {
    background-color: beige
}

* {
    font-family: 'Courier';
}

.login-form {
    background-color: #321C06
}

.login-form label {
    color: beige;
}

.login-form button {
    color: beige;
    background-color: #6B1107;
}

.login-form button:hover {
    color: #6B1107;
    background-color: beige;
}

.login-title {
    text-align: center;
}

.dash-title {
    text-align: center;
    color: #6B1107;
}

.mini-post {
    background-color: #6B1107;
    color: beige;
}

.dash-container {
flex-grow: 1;
display: flex;
justify-content: center;
}

@media (min-width: 761px) {
    header h6 {
        color: beige;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.new-post-container {
    width: 90%;
    max-width: 560px;
}

.form-title {
    color: beige;
    text-align: center;
}

.my-posts {
    width: 100%;
    max-width: 900px;
}